.popup-message{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  background-color: #333;
  padding: 6px 13px 5px 14px;
  border-radius: 4px;
  font-family: "Poppins";
  transform: translateX(50%);
  z-index: 10;
  }