<div class="login-home">
  <div class="bg">
    <div class="page">
      <div class="brand">
        <img src="../../../assets/images/brandlogo.png" alt="">
      </div>
      <div class="login">
          <div class="login-header">
            <h2> Hey,<br> Welcome Back!</h2>
            <span>We are very happy to see you back!</span>
          </div>
          <div class="role">
            Master admin
          </div>
          <form [formGroup]="loginUser">
          
              
                  <div class="mb-l">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email" required
                  >
                </div>
                <div class="form-alert" *ngIf="loginUser?.controls?.email?.status=='INVALID' && loginUser?.controls?.email?.touched==true ">
                
                  <div class="" *ngIf="loginUser?.controls?.email?.errors?.['required']">
                    email is required*
                  </div>
                  <div class="" *ngIf="loginUser?.controls?.email?.errors?.['pattern']">
                    enter email in correct form*
                  </div>
              </div>
              
                
                <div class="mb-l ">
                  <label for="password" class="form-label" >Password</label>
                  <div class="show-password">
                  <input type="{{showpassword ? 'password':'text'}}" class="form-control" id="password" formControlName="password" required pattern="">
                  <span (click)="showPassword()">
                    <img src="{{loginUser.controls.password.value ? '../../../assets/images/eye-off.png' : '../../../assets/images/eyeblur.png'}}" >
                  </span>

                </div>
                </div>
                <div class="form-alert" *ngIf="loginUser?.controls?.password?.status=='INVALID' && loginUser?.controls?.password?.touched==true ">
                  
                  <div class="" *ngIf="loginUser?.controls?.password?.errors?.['required']">
                    password is required*
                  </div>
                  <!-- <div class="" *ngIf="loginUser?.controls?.password?.errors?.['pattern']">
                    Password must contain characters,numbers and special characters*
                  </div> -->
              </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="savecred" formControlName="credential">
                  <label class="form-check-label" for="savecred">
                    Save credentials
                  </label>
                </div>
              <!-- </div> -->
                <div  class="login-bt" >
                  <button type="submit" (click)="getUserLogin()" [ngClass]="{'disabled' : loginUser.status=='INVALID'}">LOGIN</button>
                </div>
              
          </form>
          <div class="form-alert error-message" *ngIf="error">
            {{errorMessage}}{{successMessage}}
          </div>
      </div>
        <div class="fashion_text">
          <span></span>
          <p >Fashion is part of the daily air and it changes all the time, with all the events.</p>
        </div>
    </div>
    </div>
    <div class="text">
      <p >
        Discover New
        <br>
        Collection
      </p>
    </div>
    <span class="screen-img">
      <img src="../../../assets/images/sales-login-image.png">
    </span>
</div>



