<div class="login-home">  
  <div class="bg">
    <div class="page">
      <div class="brand">
        <img src="../../../assets/images/brandlogo.png" alt="">
      </div>
        <div class="login" *ngIf="!showVerification">
            <div class="login-header">
              <h2> Hey,<br> Welcome Back!</h2>
              <span>We are very happy to see you back!</span>
            </div>
            <div class="role">
                Sales Executive
              </div>
            <form [formGroup]="loginUser">
                    <div class="mb-l">
                    <input type="number" class="form-control" id="phone" formControlName="phone" placeholder="Please enter your phone number">
                    </div>
                    <div class="form-alert" *ngIf="loginUser?.controls?.phone?.status=='INVALID' && loginUser?.controls?.phone?.touched==true ">
                  
                      <div class="pnum" *ngIf="loginUser?.controls?.phone?.errors?.['required']">
                        * Phone number must be required
                      </div>
                      <div class="" *ngIf="loginUser?.controls?.phone?.errors?.['pattern']">
                        * Phone number must have 10 numbers
                      </div>
                   </div>
                  <div  class="login-bt" >
                    <button type="submit" (click)="getUserLogin()" [ngClass]="{'disabled' : loginUser.status=='INVALID'}">LOGIN</button>
                  </div>
            </form>
            <div class="form-alert error-message" *ngIf="error">
              {{errorMessage}}{{successMessage}}
            </div>
        </div>
        <div class="fashion_text">
          <span></span>
          <p >Fashion is part of the daily air and it changes all the time, with all the events.</p>
        </div>
        <app-verification class="mob-width" *ngIf="showVerification" [login]="(login)" [showVerification]="showVerification"></app-verification>
    </div>
   </div>
    <div class="text">
      <p >
        Discover New
        <br>
        Collection
      </p>
    </div>
    <span class="screen-img">
      <img src="../../../assets/images/sales-login-image.png">
    </span>
  </div>
  
  
  