.dashboard{
    padding-top: 106px;
.banner{
    height: 368px;
    background: linear-gradient(94deg, #EA1B6B 47.03%, rgba(255, 0, 0, 0.55) 104.74%);
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-text{
        .banner-text_inner{
            color: rgba(255, 255, 255, 0.61);
            font-size: 24px;
            line-height: 1.5;
            text-align: center;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
}
ul{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto; 
    padding: 16px 0;
    background-color: #fff;
    margin-top: -33px !important;
    box-shadow: 9px 9px 18px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 60px;
    .nav-li{
        font-size: 22px;
       
    }
    li{
        line-height: 33px;
        font-family: "Inter";
        a{
            color: #000;
            text-decoration: none;
           font-size: 22px;
        }
        a.active{
            color:#EA1B6B !important;
            .sec-word{
                color: #F00 !important
            }
        }
        ul{
            li{
                a{
                    font-size: 20px;
                    @media screen and (max-width: 1024px) {
                        font-size: 16px;
                    }  
                }
            }
        }
    }
}
.product-ul{
    width: 230% !important;
    left: -62px !important;
}

.dashbd-nav{
    position: relative;
 
    ul{
        z-index: 10;
        display: none;
        width: 130%;
        position: absolute;
        top: 77px;
        left: -30px;
        padding: 9px 0 9px 15px;
        list-style-position: inside;
        li{
            list-style-type: disc;
            padding: 12px;
            @media screen and (max-width: 1024px) {
                padding: 3px 8px;
            } 
            ::marker{
                color: #000;
            }
        }
    }
}

}
.nav-li.navactive{
    .dashbd-nav{
        ul{
            display: block;
        }
    }
}
.tab-scale{
    // transition: all .2s ease-in-out; 
&:hover{
    transition: all .2s ease-in-out; 
transform: scale(1.2);  
display: block; 
}
}
@media screen and (max-width: 1450px) {
    .dashboard{
        .banner{
            height: 310px;
        }
        ul{
            width: 55%;
            .tab-scale{
                font-size: 20px;
              }
        }
    }
}

@media screen and (max-width: 1200px) {
  .dashboard{
    ul{
        width: 65%;
        padding: 13px 0;
    }
    .product-ul{
        width: 236% !important;
    }
  }
}
@media screen and (max-width: 1024px) {
    .dashboard{
        .banner{
            height: 245px;
            @media screen and (max-width: 767px) {
              height:225px;
            }
            .banner-text_inner{
                font-size: 18px;
            }
        }
        ul{
        

           .tab-scale{
                font-size: 18px !important;
              }
        }
    }
}
@media screen and (max-width: 898px) {
  .dashboard{
    ul{
        width: 75%;
        padding: 10px 0;
    }
  }
}
@media screen and (max-width: 767px) {
    
    .dashboard{
        padding-top: 90px;
        ul{
            margin-bottom: 0;
            box-shadow: -9px -9px 18px 0px rgba(209, 189, 189, 0.17);
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 11px 0;
            li{
                padding: 0 15px;
                text-align: center;
                span{
            text-align: center !important;
                }
            }
            .view{
                display: none !important;
               
            }
            .nav-li.navactive{
                .dashbd-nav{
                    .add_edit{
                        transform: translate(27%,-100%) !important;
                        transition: .5s all ease-out;
                    }
                    .product-ul{
                        transform: translate(35%,-100%);
                        transition: .5s all ease-out;
                    }
                }
                
            }
            .nav-li{
                width: 33.33%;
                line-height: 1.25;
                padding: 0 15px;
                text-align: center;
                .dashbd-nav{
                    ul{
                        width: auto;
                        text-align: left;
                        display: block;
                        top: 0;
                        padding-left: 4px;
                        box-shadow: -9px -9px 18px 0px rgba(231, 208, 208, 0.17), 9px 9px 18px 0px rgba(231, 222, 222, 0.15);
                        li{
                            list-style-type: none;
                            padding: 3px 30px 3px 15px;
                        }
                    }
                    .add_edit{
                        transform: translate(-110%,-100%);
                    }
                    .product-ul{
                        transform: translate(195%,-100%);
                        width: auto !important;
                    }
                }
                .mobile-mode{
                    padding-bottom: 11px;
                    display: block;
                    a{
                    font-size: 16px !important;
                    line-height: 16px !important;
                    }
                }
                .tab-scale{
                    font-size: 14px !important;
                    line-height: 1;
                    &:hover{
                        transition:none; 
                    transform: none;  
                    display: contents;
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 500px) {
  .dashbd-nav{
    ul{
        padding-bottom: 0 !important;
        li{
            padding:5px !important;
        }
    }
  }
}
